<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<a href="register">Click here to register</a><br/>
<a href="send">Click here to send emails</a>
</body>
</html>