<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Group sending</title>
</head>
<body>
  <div class="form">
      {{ form_start(form) }}
      {{ form_widget(form) }}
      {{ form_end(form) }}
  </div>
</body>
</html>